<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @service.category_id %>
</p>

<p>
  <strong>Service name:</strong>
  <%= @service.service_name %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
