<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :emp_first %><br>
    <%= f.text_area :emp_first %>
  </div>
  <div class="field">
    <%= f.label :emp_last %><br>
    <%= f.text_area :emp_last %>
  </div>
  <div class="field">
    <%= f.label :emp_address %><br>
    <%= f.text_area :emp_address %>
  </div>
  <div class="field">
    <%= f.label :emp_city %><br>
    <%= f.text_area :emp_city %>
  </div>
  <div class="field">
    <%= f.label :emp_state %><br>
    <%= f.text_area :emp_state %>
  </div>
  <div class="field">
    <%= f.label :emp_phone_string %><br>
    <%= f.text_field :emp_phone_string %>
  </div>
  <div class="field">
    <%= f.label :emp_email %><br>
    <%= f.text_area :emp_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
