<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table>
  <thead>
    <tr>
      <th>Emp first</th>
      <th>Emp last</th>
      <th>Emp address</th>
      <th>Emp city</th>
      <th>Emp state</th>
      <th>Emp phone string</th>
      <th>Emp email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.emp_first %></td>
        <td><%= employee.emp_last %></td>
        <td><%= employee.emp_address %></td>
        <td><%= employee.emp_city %></td>
        <td><%= employee.emp_state %></td>
        <td><%= employee.emp_phone_string %></td>
        <td><%= employee.emp_email %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
