<p id="notice"><%= notice %></p>

<p>
  <strong>Emp first:</strong>
  <%= @employee.emp_first %>
</p>

<p>
  <strong>Emp last:</strong>
  <%= @employee.emp_last %>
</p>

<p>
  <strong>Emp address:</strong>
  <%= @employee.emp_address %>
</p>

<p>
  <strong>Emp city:</strong>
  <%= @employee.emp_city %>
</p>

<p>
  <strong>Emp state:</strong>
  <%= @employee.emp_state %>
</p>

<p>
  <strong>Emp phone string:</strong>
  <%= @employee.emp_phone_string %>
</p>

<p>
  <strong>Emp email:</strong>
  <%= @employee.emp_email %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
