<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cust_first %><br>
    <%= f.text_area :cust_first %>
  </div>
  <div class="field">
    <%= f.label :cust_last %><br>
    <%= f.text_area :cust_last %>
  </div>
  <div class="field">
    <%= f.label :cust_address %><br>
    <%= f.text_area :cust_address %>
  </div>
  <div class="field">
    <%= f.label :cust_city %><br>
    <%= f.text_area :cust_city %>
  </div>
  <div class="field">
    <%= f.label :cust_state %><br>
    <%= f.text_area :cust_state %>
  </div>
  <div class="field">
    <%= f.label :cust_phone %><br>
    <%= f.text_field :cust_phone %>
  </div>
  <div class="field">
    <%= f.label :cust_email %><br>
    <%= f.text_area :cust_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
