<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th>Cust first</th>
      <th>Cust last</th>
      <th>Cust address</th>
      <th>Cust city</th>
      <th>Cust state</th>
      <th>Cust phone</th>
      <th>Cust email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.cust_first %></td>
        <td><%= customer.cust_last %></td>
        <td><%= customer.cust_address %></td>
        <td><%= customer.cust_city %></td>
        <td><%= customer.cust_state %></td>
        <td><%= customer.cust_phone %></td>
        <td><%= customer.cust_email %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
