<p id="notice"><%= notice %></p>

<p>
  <strong>Cust first:</strong>
  <%= @customer.cust_first %>
</p>

<p>
  <strong>Cust last:</strong>
  <%= @customer.cust_last %>
</p>

<p>
  <strong>Cust address:</strong>
  <%= @customer.cust_address %>
</p>

<p>
  <strong>Cust city:</strong>
  <%= @customer.cust_city %>
</p>

<p>
  <strong>Cust state:</strong>
  <%= @customer.cust_state %>
</p>

<p>
  <strong>Cust phone:</strong>
  <%= @customer.cust_phone %>
</p>

<p>
  <strong>Cust email:</strong>
  <%= @customer.cust_email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
