<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :cust_full_name %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.collection_select :vehicle_id, Vehicle.all, :id, :vehicle_info %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.all, :id, :category_name %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.collection_select :service_id, Service.all, :id, :service_name %>
  </div>
  <div class="field">
    <%= f.label :act_id %><br>
    <%= f.collection_select :act_id, Act.all, :id, :action_name%>
  </div>
  <div class="field">
    <%= f.label :position_id %><br>
    <%= f.collection_select :position_id, Position.all, :id, :position_name %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select :employee_id, Employee.all, :id, :emp_full_name %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.collection_select :status_id, Status.all, :id, :status_name %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.number_field :hours %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.number_field :rate %>
  </div>
  <div class="field">
    <%= f.label :part %><br>
    <%= f.text_area :part %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.number_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
