<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Name</th>
      <th>Vin</th>
      <th>Make</th>
      <th>Model</th>
      <th>Category</th>
      <th>Service</th>
      <th>Act</th>
      <th>Position</th>
      <th>Employee</th>
      <th>Name</th>
      <th>Status</th>
      <th>Hours</th>
      <th>Rate</th>
      <th>Part</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.customer.cust_first %></td>
        <td><%= ticket.customer.cust_last %></td>
        <td><%= ticket.vehicle.vin %></td>
        <td><%= ticket.vehicle.make %></td>
        <td><%= ticket.vehicle.model %></td>
        <td><%= ticket.category.category_name %></td>
        <td><%= ticket.service.service_name %></td>
        <td><%= ticket.act.action_name %></td>
        <td><%= ticket.position.position_name %></td>
        <td><%= ticket.employee.emp_first %></td>
        <td><%= ticket.employee.emp_last %></td>
        <td><%= ticket.status.status_name %></td>
        <td><%= ticket.hours %></td>
        <td><%= ticket.rate %></td>
        <td><%= ticket.part %></td>
        <td><%= ticket.quantity %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.note %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
