<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @ticket.customer_id %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @ticket.vehicle_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ticket.category_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @ticket.service_id %>
</p>

<p>
  <strong>Act:</strong>
  <%= @ticket.act_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @ticket.position_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @ticket.employee_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status_id %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @ticket.hours %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @ticket.rate %>
</p>

<p>
  <strong>Part:</strong>
  <%= @ticket.part %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ticket.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Note:</strong>
  <%= @ticket.note %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
