<!DOCTYPE html>
<html>
<header>
  <div id="header">
    <%=link_to "Actions", acts_path %>
    <%=link_to "Category", categories_path %>
    <%=link_to "Customer", customers_path %>
    <%=link_to "Employee", employees_path %>
    <%=link_to "Position", positions_path %>
    <%=link_to "Service", services_path %>
    <%=link_to "Status", statuses_path %>
    <%=link_to "Ticket", root_path %>
    <%=link_to "Vehicle", vehicles_path %>
  </div>
</header>
<head>
  <title>Rl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
